[user]
    name = Nate Book
    email = nmbook@gmail.com
[alias]
    unstage = reset HEAD --
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[push]
    default = simple
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
    autocrlf = true
    safecrlf = warn
    filemode = false
[color]
    status = auto
    diff = auto

